[tools]

# sites 用に必要なツールのインストール
"aqua:WebAssembly/binaryen" = "latest"
"aqua:mdbook" = "0.5.1"
"github:wasm-bindgen/wasm-bindgen" = "0.2.106"
"cargo:cargo-bloat" = "latest"

[tasks.apng-build-sites]
description = "apng 用のプロジェクトをビルドする"
run = "cargo build --target wasm32-unknown-unknown --release -p apng_gen"

[tasks.apng-bindgen-sites]
description = "Run wasm-bindgen for apng"
run = "wasm-bindgen target/wasm32-unknown-unknown/release/apng_gen.wasm --target web --out-dir site/src/wasm/apng_gen"
depends = ["apng-build-sites"]

[tasks.build-sites]
description = "Showcase 用のプロジェクトをビルドする"
run = "cargo build --target wasm32-unknown-unknown --release -p showcase"

[tasks.bindgen-sites]
description = "Run wasm-bindgen"
run = "wasm-bindgen target/wasm32-unknown-unknown/release/showcase.wasm --target web --out-dir site/src/wasm/showcase"
depends = ["build-sites"]

[tasks.opt-sites]
description = "Run wasm-opt"
run = "wasm-opt -Oz -o site/src/wasm/showcase/showcase_bg.wasm site/src/wasm/showcase/showcase_bg.wasm"
depends = ["bindgen-sites"]

[tasks.dev-sites]
description = "Run the development server"
run = "mdbook serve site --open"
depends = ["bindgen-sites", "apng-bindgen-sites"]

[tasks.dev-sites-opt]
description = "Run the development server"
run = "mdbook serve site --open"
depends = ["opt-sites"]


[tasks.kashikishi]
description = "Run the kashikishi"
run = "cargo run --bin kashikishi --release"

[tasks.install-kashikishi]
description = "Install the kashikishi"
run = "cargo install --path kashikishi"

[tasks.fmt]
description = "Format the code"
run = "cargo fmt --all"

[tasks.clippy]
description = "Run clippy"
run = "cargo clippy --all -- -D clippy::all"

[tasks.clippy-tests]
description = "Run clippy for test and examples"
run = "cargo clippy --tests --examples -- -D clippy::all"

[tasks.clippy-tests-fix]
description = "Fix clippy error for test and examples"
run = "cargo clippy --tests --examples --fix"

[tasks.test]
description = "Run tests"
run = "cargo test --all"

[tasks.check]
description = "Run checks"
depends = ["fmt", "clippy", "clippy-tests"]

[tasks.check-bloat]
description = "Check binary size with cargo bloat"
run = "cargo bloat --bin kashikishi --release --crates"
